/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: CSVTK_CONCAT {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ********** short reads assembly *******
    withName: BBMAP_BBNORM {
        ext.args = "target=100"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/bbnorm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: SKESA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/skesa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: SPADES {
        ext.args = "--careful --only-assembler --cov-cutoff auto"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/spades" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: UNICYCLER {
        ext.args = "--mode conservative --keep 0 --min_fasta_length 200 "
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/unicycler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: MEGAHIT {
        ext.prefix = { "${meta.id}.megahit_assembly" }
        ext.args = "--min-contig-len 200"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/megahit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: SHOVILL {
        ext.args = '--assembler spades --minlen 200 --depth 100 --opts "--careful --only-assembler --cov-cutoff auto"'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/shovill" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: ASSEMBYSTATS {
        ext.args = '-t'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/${params.short_read_assembly}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: REFORMATASSEMBLYSTATS_ILLUMINA {
        ext.prefix = { "${meta.id}.contigs_stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/${params.short_read_assembly}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: REFORMATASSEMBLYSTATS {

        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/illumina/${params.short_read_assembly}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }

    withName: CSVTK_CONCAT {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }


    // ############################ depth
    withName: MINIMAP2_ALIGN_DEPTH_ILLUMINA {
        ext.prefix = { "${meta.id}.illumina" }
        ext.args = "-x sr"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/illumina" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: SAMTOOLS_SORT_DEPTH_ILLUMINA {
        ext.prefix = { "${meta.id}.illumina_sorted" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/illumina" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: true,
        ]
    }

    withName: SAMTOOLS_INDEX_DEPTH_ILLUMINA {
        ext.prefix = { "${meta.id}.illumina_sorted" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/illumina" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: true,
        ]
    }

    withName: SAMTOOLS_COVERAGE_DEPTH_ILLUMINA {
        ext.prefix = { "${meta.id}.contig_depth.illumina" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/illumina" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: MAPPINGREPORT_ILLUMINA {
        ext.prefix = { "${meta.id}.mapping_summary.illumina" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/illumina" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: CSVTK_CONCAT_DEPTH_ILLUMINA {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }



    //***************** long reads assembly*********************************
    withName: LRGE {
        ext.args = "--platform ont"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/nanopore/genomesize" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]

    }
    withName: RASUSA_READS {
        ext.args = "--coverage ${params.rasusa_coverage}"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/nanopore/subsample" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]

    }


    withName: SEQTK_SIZE {
        ext.prefix = { "${meta.id}.seqtk_size" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/genomesize" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: FLYE {
        ext.args = '--nano-hq'
        ext.args2 = '--iterations 2 --read-error 0.03'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/flye" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: ASSEMBLYSTATS{
        ext.args = "-t"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${parames.long_read_assembly}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: REFORMATASSEMBLYSTATS_NANOPORE {
        ext.prefix = { "${meta.id}.contig_stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${params.long_read_assembly}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CIRCULARRECENTER_MIDSTARTFLYE {

        ext.prefix = { "${meta.id}.contigs_restart" }

        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${params.long_read_assembly}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: CIRCULARRECENTER_DNAAPLER {

        ext.prefix = { "${meta.id}.contigs_restart" }

        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${params.long_read_assembly}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: GFATOOLS_GFA2FASTA {
        ext.prefix = { "${meta.id}.contigs_gfa2fa" }
        publishDir = [
                path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${params.long_read_assembly}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*",
                enabled: false,
            ]
    }

    withName: MEDAKA_CONSENSUS {

        //ext.prefix = { "${meta.id}.contigs_medaka" }
        //ext.args = '--bacteria'

        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/medaka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: STATS_MEDAKA {
        ext.args = "-t"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/medaka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: STATS_MEDAKA_FORMATASSEMBLYSTATS {
        ext.prefix = { "${meta.id}.contigs_medaka.stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/medaka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: DORADA_POLISH {
        ext.prefix = { "${meta.id}.contigs_dorada_polish" }
        ext.args = '--device "cpu"'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: POLYPOLISH {
        ext.args = ""
        ext.args2 = ""
        ext.prefix = { "${meta.id}.contigs_polypolish" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false
        ]
    }
    withName: STATS_POLYPOLISH {
        ext.args = "-t"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/polypolish" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: STATS_POLYPOLISH_FORMATASSEMBLYSTATS {
        ext.prefix = { "${meta.id}.contigs_polypolish.stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/polypolish" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: BWAMEM2_INDEX {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: BWAMEM2_MEM_1 {
        ext.prefix = { "${meta.id}_1" }
        ext.args = "-a "
        ext.args2 = "-O SAM"
        ext.suffix = 'sam'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: BWAMEM2_MEM_2 {
        ext.prefix = { "${meta.id}_2" }
        ext.args2 = "-O SAM"
        ext.args = "-a "
        ext.suffix = 'sam'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }


    withName: MASURCA_POLCA {
        ext.prefix = { "${meta.id}.contigs_polca" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/polca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: STATS_POLCA {
        ext.args = "-t"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/polca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: STATS_POLCA_FORMATASSEMBLYSTATS {
        ext.prefix = { "${meta.id}.contigs_polca_stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/polca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: PYPOLCA {
        ext.prefix = { "${meta.id}.pypolca" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/pypolca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false
        ]
    }
    withName: STATS_PYPOLCA_FORMATASSEMBLYSTATS {
        ext.prefix = { "${meta.id}.contigs_pypolca_stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/pypolca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false
        ]
    }

    withName: STATS_PYPOLCA {
        ext.args = "-t"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}/pypolca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }


    withName: MINIMAP2_ALIGN_DEPTH_NANOPORE {
        ext.prefix = { "${meta.id}.nanopore" }
        ext.args = "-x map-ont"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: false,
        ]
    }
    withName: SAMTOOLS_SORT_DEPTH_NANOPORE {
        ext.prefix = { "${meta.id}.nanopore_sorted" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: true,
        ]
    }
    withName: SAMTOOLS_INDEX_DEPTH_NANOPORE {
        ext.prefix = { "${meta.id}.nanopore_sorted" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
            enabled: true,
        ]
    }
    withName: SAMTOOLS_COVERAGE_DEPTH_NANOPORE {
        ext.prefix = { "${meta.id}.contig_depth.nanopore" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }
    withName: MAPPINGREPORT_NANOPORE {
        ext.prefix = { "${meta.id}.mapping_summary.nanopore" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/depth/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*",
        ]
    }

    withName: CSVTK_CONCAT_DEPTH_NANOPORE {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CHECKM2_PREDICT {
        ext.args = " --force --allmodels"
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: FASTA_REFORMATHEADER {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/${params.platform}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'PUBLISH_ASSEMBLIES' {
        publishDir = [
            path: { "${params.outdir}/assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PUBLISH_SAMPLESHEET {
         ext.prefix = { "assemblies_" }

    }


}
